{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>consult</title>
    <script src={% static "/assets/js/jquery-3.6.3.min.js" %}></script>
    <script src={% static "/urls.js" %}></script>
    <link rel="stylesheet" href={% static "/assets/bootstrap/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href={% static "/assets/css/Roboto.css" %}>
    <link rel="stylesheet" href={% static "/assets/fonts/fontawesome-all.min.css" %}>
    <link rel="stylesheet" href={% static "/assets/fonts/font-awesome.min.css" %}>
    <link rel="stylesheet" href={% static "/assets/fonts/fontawesome5-overrides.min.css" %}>
    <link rel="stylesheet" href={% static "/assets/css/best-carousel-slide.css" %}>
    <link rel="stylesheet" href={% static "/assets/css/Bold-BS4-Pricing-Table-Style-54-pricing_table_54.css" %}>
    <link rel="stylesheet" href={% static "/assets/css/Bold-BS4-Pricing-Table-Style-54.css" %}>
    <link rel="stylesheet" href={% static "/assets/css/Bootstrap-4---Photo-Gallery.css" %}>
    <link rel="stylesheet" href={% static "/assets/css/Form-Select---Full-Date---Month-Day-Year.css" %}>
    <link rel="stylesheet" href={% static "/assets/css/Product-Details.css" %}>
    <link rel="stylesheet" href={% static "/assets/css/Shopping-Grid.css" %}>


        <!-- Default Theme (Core) -->
    <link rel="stylesheet" href={% static "/assets/date/lib/themes/pickadate.default.css" %}>
    <!-- Default Theme (Date Picker) -->
    <link rel="stylesheet" href={% static "/assets/date/lib/themes/default.date.css" %}>
    <!-- Default Theme (Time Picker If Needed)-->
    <link rel="stylesheet" href={% static "/assets/date/lib/themes/default.time.css" %}>

    <!-- Classic Theme (Core) -->
    <link rel="stylesheet" href={% static "/assets/date/lib/themes/pickadate.classic.css" %}>
    <!-- Classic Theme (Date Picker) -->
    <link rel="stylesheet" href={% static "/assets/date/lib/themes/classic.date.css" %}>
    <!-- Classic Theme (Time Picker If Needed)-->
    <link rel="stylesheet" href={% static "/assets/date/lib/themes/classic.time.css" %}>

    <!-- For RTL Layout -->
    <link rel="stylesheet" href={% static "/assets/date/lib/themes/rtl.css" %}>


 
    <!-- Core -->
    <script src={% static "/assets/date/lib/picker.js" %}></script>
    
    <!-- Date Picker -->
    <script src={% static "/assets/date/lib/picker.date.js" %}></script>

    <!-- Required For Legacy Browsers (IE 8-) -->
    <script src={% static "/assets/date/lib/legacy.js" %}></script>

    <script src={% static "/assets/bootstrap/js/bootstrap.min.js" %}></script>
    <script src={% static "/assets/js/bs-init.js" %}></script>
    <script src={% static "/assets/js/theme.js" %}></script>
    <script src={% static "/assets/js/zectStudio_12H-Time-Format-scripts.js" %}></script>
  
</head>

<body id="page-top">
  {% block content %} {% endblock %}
</body>

</html>