{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                <div class="sidebar-brand-text mx-3"><span>Consult</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li id="yyy" class="nav-item"><a  class="nav-link active  loginn" class="nav-link" href="{% url 'doctors-home' %}"><i class="far fa-bookmark"></i><span>Services</span></a></li>
                <li id="aaa" class="nav-item"><a   class="nav-link " href="{% url 'nurse-medicineList' %}"><i class="far fa-bookmark"></i><span>Medicines</span></a></li>
                <li  class="nav-item"><a  class="nav-link " class="nav-link" href="{% url 'nurse-profile' %}"><i class="far fa-bookmark"></i><span>Profile</span></a></li>
                <li class="nav-item"></li>
            </ul>
                        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    
                    <ul class="navbar-nav flex-nowrap ms-auto">
                            
                        <li class="nav-item dropdown no-arrow mx-1"></li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                        </li>
                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow" onclick="logoutNow()">
                            <div class="nav-item dropdown no-arrow"><a id="test" class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"><span class="d-none d-lg-inline me-2 text-gray-600 small" id="userLoginText">Login</span><img  class="border rounded-circle img-profile"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png"></a>
                                <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"></a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'login' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                </div>
                            </div>
                            <script>
                                $("#test").on('click',function(){
                                    if (localStorage.getItem('userName') == "" || localStorage.getItem('userId') == undefined ){
                                        window.location = "{% url 'login' %}"
                                    }
                                    
                                })

                                
                            </script>
                        </li>
                    </ul>
                </div>
            </nav>
        
              <div  class="container">
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><p id="mtitle">Add</p></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form class="user">
                                    
                                    <label>Title</label>
                                    <div class="mb-3"><input required class="form-control form-control-user" type="text" id="title" aria-describedby="" placeholder="title" name="fname"></div>
                                    <label>Age</label>
                                    <div class="mb-3"><input required class="form-control form-control-user" type="text" id="age" aria-describedby="" placeholder="age" name="lname"></div>
                                    <label>Description</label>
                                    <div class="mb-3"><input required class="form-control form-control-user" type="text" id="Description" aria-describedby="" placeholder="description" name="lname"></div>
                                    <label>Date</label>
                                    <div class="mb-3"><input required class="form-control form-control-user" type="date" id="date" aria-describedby="" placeholder="date" name="lname"></div>
                                    <label>Time</label>
                                    <div class="mb-3"><input required class="form-control form-control-user" type="time" id="time" aria-describedby="" placeholder="Time" name="time"></div>
                                    <label>
                                        <input type="checkbox" id="myCheckbox" value="myValue"> Available
                                      </label>
                                </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" onclick="addData()">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
    
    
    
                  <div class="modal fade" id="exampleModaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><p id="mtitle">Edit</p></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form class="user">
                                    
                                <label>Title</label>
                                <div class="mb-3"><input required class="form-control form-control-user" type="text" id="etitle" aria-describedby="" placeholder="title" name="fname"></div>
                                <label>Age</label>
                                <div class="mb-3"><input required class="form-control form-control-user" type="text" id="eage" aria-describedby="" placeholder="age" name="lname"></div>
                                <label>Description</label>
                                <div class="mb-3"><input required class="form-control form-control-user" type="text" id="eDescription" aria-describedby="" placeholder="description" name="lname"></div>
                                <label>Date</label>
                                <div class="mb-3"><input required class="form-control form-control-user" type="date" id="edate" aria-describedby="" placeholder="date" name="lname"></div>
                                <label>Time</label>
                                <div class="mb-3"><input required class="form-control form-control-user" type="time" id="etime" aria-describedby="" placeholder="Time" name="time"></div>
                                <label>
                                    <input type="checkbox" id="emyCheckbox" value="myValue"> Available
                                  </label>
                            </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" onclick="updateMedicine()">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
    
    
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Vaccination details</h3><br><br><br><br>
                    </div>
                </div>
                
                
                  <div  class="container">
                    <input type="text" id="search-input" placeholder="Search...">
                    <button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#exampleModal">Add</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Age</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>availablity</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    
                </tbody>
            </table>
                  </div>
                
                 
            </div>
              </div>
            
             
        </div>
        <!-- <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2023</span></div>
            </div>
        </footer> -->
    </div>
</div>
<script>
    var userId = null
    var echeckbox;
    $(document).ready(function(){
        //alert(localStorage.getItem('did'))
        if (localStorage.getItem('userName') != null ){
            $('#userLoginText').text(localStorage.getItem('userName'))
            
        }else{
            $('#xxx').remove();
            $('#yyy').remove();
            
        }

        $("#search-input").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table-body tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        echeckbox = document.getElementById("emyCheckbox");
        $.ajax({
                type: "GET",
                url:  BASE_URL+"/service/api/list",
                success: function(data, textStatus, xhr){
                    if(xhr.status == 200){
                        if(data != {}){
                            console.log(data)
                            str = ""
                            for(var i=0; i<data.length; i++){
                                str+='<tr>'
                                str+='<td>'+data[i].title+'</td>'
                                str+='<td>'+data[i].Age+'</td>'
                                str+='<td>'+data[i].Description+'</td>'
                                str+='<td>'+data[i].Date+'</td>'
                                str+='<td>'+data[i].Time+'</td>'
                                str+='<td>'+data[i].availability+'</td>'
                                str+='<td><button id='+ data[i].id +' class="btn" onclick="getEvent(this)" data-toggle="modal" data-target="#exampleModaledit">&#128394;</button></td>'
                                str+='<td><button id='+ data[i].id +' class="btn" onclick="deleteMedicine(this)">&#10060;</button></td>'
                                str+='</tr>'
                            }
                            $("#table-body").append(str);
                        }
                    }
                },
                error: function(e) {
                    //todo what you wish 
                }
        });

    })

    function addData(){

        var checkbox = document.getElementById("myCheckbox");
        var value = checkbox.checked ? checkbox.value : null;
        var isAvailable;
        if(value == null){
            isAvailable = "no";
        }else{
            isAvailable = "yes";
        }

        if(
            $("#title").val() == "" ||
            $("#age").val() == "" ||
            $("#Description").val() == "" ||
            $("#date").val() == "" ||
            $("#time").val() == "" 
        ){
            alert("Please fill all the fileds !")
            return
        }

        var data = {}
        data.title = $("#title").val()
        data.availability = isAvailable
        data.age = $("#age").val()
        data.description = $("#Description").val()
        data.date = $("#date").val()
        data.time = $("#time").val()

        $.ajax({
        type: "POST",
        url:  BASE_URL+"/service/api/add",
        data: data,
        success: function(response) {
            console.log(response)
            // Handle successful response
            if(response.code == 200){
                setTimeout(function(){
                    location.reload()
                }, 150);
            }
        },
        error: function(xhr, status, error) {
            // Handle error response
            console.log(xhr.responseText);
        }
        });
    }

    function getEvent(e){
        $.get(BASE_URL+"/service/api/get-one/"+e.id, function(data) {
            console.log(data)
            $("#etitle").val(data.title)
            $("#eage").val(data.Age)
            $("#eDescription").val(data.Description)
            $("#etime").val(data.Time)
            $("#edate").val(data.Date)
            
            if(data.availability == "yes"){
                echeckbox.disabled = true;
            }else{
                echeckbox.disabled = false;
            }
            localStorage.setItem("evnt_id", data.id)
        });
    }

    function deleteMedicine(e){
        $.ajax({
        type: "GET",
        url:  BASE_URL+"/service/api/delete/"+e.id,
        });
        setTimeout(function(){
            location.reload()
        },100)
    }
   

</script>
<script src={% static "assets/bootstrap/js/bootstrap.min.js" %}></script>
<script src={% static "assets/js/bs-init.js" %}></script>
<script src={% static "assets/js/theme.js" %}></script>
<script src={% static "assets/js/zectStudio_12H-Time-Format-scripts.js" %}></script>

{% endblock %}