{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url('https://img.freepik.com/free-vector/hospital-logo-design-vector-medical-cross_53876-136743.jpg');"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account!</h4>
                            </div>
                            <form class="user">
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input required class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="First Name" name="first_name"></div>
                                    <div class="col-sm-6"><input required class="form-control form-control-user" type="text" id="exampleLastName" placeholder="Last Name" name="last_name"></div>
                                </div>
                                <div class="mb-3"><input required class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email"></div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input required class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password"></div>
                                    <div class="col-sm-6"><input required class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat"></div>
                                </div><button class="btn btn-primary d-block  w-100" type="button" onclick="register()">Register Account</button>
                                <hr>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="#">Forgot Password?</a></div>
                            <div class="text-center"><a class="small" href="{% url 'login' %}#">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <script>
        
        function register(){
            if($("#examplePasswordInput").val() != $("#exampleRepeatPasswordInput").val()){
                alert("Please provide same password")
                return
            }
            
            const data = {};
            data.fname = $("#exampleFirstName").val()
            data.lname = $("#exampleLastName").val()
            data.email = $("#exampleInputEmail").val()
            data.password = $("#examplePasswordInput").val()
            data.authType = "register"
            data.img = null

            if($("#exampleFirstName").val() == null || $("#exampleLastName").val() == "" || 
            $("#exampleInputEmail").val() == "" || $("#examplePasswordInput").val()== ""){
                alert("please fill all the fields")
            }
        
            $.ajax({
                type: "POST",
                url:  BASE_URL+"/api/register",
                data: data,
                success: function(data, textStatus, xhr){
                    if(xhr.status == 208){
                        alert("Given email already registerd")
                        return
                    }else if(xhr.status == 201){
                        alert("Registration success. login with provided details")
                        window.location = BASE_URL+"{% url 'login' %}"
                    }
                }
                });
            }
    </script>

    </div>
    
    
    {% endblock %}
