{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                <div class="sidebar-brand-text mx-3"><span>Consult</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="navbar-nav text-light" id="accordionSidebar">
                <li id="yyy" class="nav-item"><a  class="nav-link active  loginn" class="nav-link" href="{% url 'doctors-home' %}"><i class="far fa-bookmark"></i><span>My appointment</span></a></li>
                <li id="aaa" class="nav-item"><a   class="nav-link " href="{% url 'list-medicine-doctor' %}"><i class="far fa-bookmark"></i><span>Medicines</span></a></li>
                <li id="zzz" class="nav-item"><a   class="nav-link" href="{% url 'doctor-feedback' %}"><i class="far fa-bookmark"></i><span>Feedback(s)</span></a></li>
                <li  class="nav-item"><a  class="nav-link " class="nav-link" href="{% url 'doctor-profile' %}"><i class="far fa-bookmark"></i><span>Profile</span></a></li>
                <li class="nav-item"></li>
            </ul>
                        </div>
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    
                    <ul class="navbar-nav flex-nowrap ms-auto">
                            
                        <li class="nav-item dropdown no-arrow mx-1"></li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                        </li>
                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow" onclick="logoutNow()">
                            <div class="nav-item dropdown no-arrow"><a id="test" class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"><span class="d-none d-lg-inline me-2 text-gray-600 small" id="userLoginText">Login</span><img  class="border rounded-circle img-profile"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png"></a>
                                <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"></a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'login' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                </div>
                            </div>
                            <script>
                                $("#test").on('click',function(){
                                    if (localStorage.getItem('userName') == "" || localStorage.getItem('userId') == undefined ){
                                        window.location = "{% url 'login' %}"
                                    }
                                    
                                })

                                
                            </script>
                        </li>
                    </ul>
                </div>
            </nav>
        
              <div  class="container">
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><p id="mtitle">Add</p></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                <form id="myForm" class="user" enctype="multipart/form-data">
                                    
                                    <label>Title</label>
                                    <div class="mb-3"><input required class="form-control form-control-user" type="text" id="title" aria-describedby="" placeholder="title" name="name"></div>
                                    <label>Prescription</label>
                                    <!-- <div class="mb-3"><input required class="form-control form-control-user" type="text"  aria-describedby="" placeholder="prescription" name="prescription"></div> -->
                                    <textarea class="form-control" id="pstn" rows="3"></textarea>
                                    <label>Description</label>
                                    <div class="mb-3"><input required class="form-control form-control-user" type="text" id="Description" aria-describedby="" placeholder="description" name="description"></div>
                                    <!-- <label>Date</label> -->
                                    <!-- <div class="mb-3"><input required class="form-control form-control-user" type="date" id="date" aria-describedby="" placeholder="date" name="lname"></div> -->
                                    <label>Document</label>
                                    <input type="file" name="image_file" id="image-file-input" accept="application/pdf">
                                    
                                </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="myButton">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
    
    
    
                  
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Vaccination details</h3><br><br><br><br>
                    </div>
                </div>
                
                
                  <div  class="container">
                    <input type="text" id="search-input" placeholder="Search...">
                    <button type="button" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#exampleModal">Add</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Index</th>
                        <!-- <th>Ehr ID</th> -->
                        <th>Date</th>
                        <th>Document</th>
                        
                        
                    </tr>
                </thead>
                <tbody id="table-body">
                    
                </tbody>
            </table>
                  </div>
                
                 
            </div>
              </div>
            
             
        </div>
        <!-- <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2023</span></div>
            </div>
        </footer> -->
    </div>
</div>
<script>
    var userId = null
    var echeckbox;
    $(document).ready(function(){
        //alert(localStorage.getItem('did'))
        if (localStorage.getItem('userName') != null ){
            $('#userLoginText').text(localStorage.getItem('userName'))
            
        }else{
            $('#xxx').remove();
            $('#yyy').remove();
            
        }





        $("#search-input").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#table-body tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        
        $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/records/get/"+localStorage.getItem('this_ehr_id'),
                success: function(data, textStatus, xhr){
                    if(xhr.status == 201){
                        if(data != {} && data.length != 0){

                            console.log(data)
                            str = ""
                            for(var i=0; i<data.length; i++){
                                str+='<tr>'
                                str+='<td>'+data[i].id+'</td>'
                               
                                // str+='<td>'+data[i].ehrId+'</td>'
                                str+='<td>'+data[i].created_at+'</td>'
                                //str+='<td><button id='+ data[i].documentLink +' class="btn" style="background-color: aquamarine; onclick="getM()">View</button></td>'
                                //str+='<td><button id="'+data[i].documentLink+'" class="btn" style="background-color: aquamarine; onclick="getM()">View</button></td>'
                                 str+='<td><button id="'+data[i].documentLink+'"  onclick="getM(this)">View</button></td>'
                                str+='</tr>'
                            }
                            $("#table-body").append(str);
                        }else{
                            
                            $.get("http://127.0.0.1:8000/ehr/valid/"+localStorage.getItem('this_ehr_id'), function(data) {
                                console.log(data)
                                alert("NO RECORDS UPDATED YET")
                            });
                        }
                    }
                },
                error: function(e) {
                   alert("user has no EHR ID right now")
                   window.location.href = "{% url 'doctors-home' %}" 
                }
        });

    })


    



    $('#myButton').click(function(event) {
        if(
            $("#title").val() == "" ||
            $("#pstn").val() == "" ||
            $("#Description").val() == ""
            
        ){
            alert("Please fill all the fileds !")
            return
        }
        var formData = new FormData($('#myForm')[0]);
        formData.append('ehrId', localStorage.getItem('this_ehr_id'));
        $("#myButton").prop('disabled', true);
        $.ajax({
            url: BASE_URL+'/ehr/upload',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function(response) {
                console.log(response);
                window.location.reload()
            }
        });
    });


    function addData(){


    }

    function getEvent(e){
        $.get(BASE_URL+"/service/api/get-one/"+e.id, function(data) {
            console.log(data)
            $("#etitle").val(data.title)
            $("#eage").val(data.Age)
            $("#eDescription").val(data.Description)
            $("#etime").val(data.Time)
            $("#edate").val(data.Date)
            
            if(data.availability == "yes"){
                echeckbox.disabled = true;
            }else{
                echeckbox.disabled = false;
            }
            localStorage.setItem("evnt_id", data.id)
        });
    }

   

</script>
<script>
    function getM(e){
        const url = e.id;
        window.open(url, '_blank');
    }
</script>
<script src={% static "assets/bootstrap/js/bootstrap.min.js" %}></script>
<script src={% static "assets/js/bs-init.js" %}></script>
<script src={% static "assets/js/theme.js" %}></script>
<script src={% static "assets/js/zectStudio_12H-Time-Format-scripts.js" %}></script>

{% endblock %}